.Placeholder-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #000;
  justify-content: center;
}

.Placeholder-text {
  display: flex;
  margin: 0 auto;
}

@media (max-width: 545px) {
  .Placeholder-div {
    width: 350px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .Placeholder-div {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 310px) {
  .Placeholder-div {
    width: 250px;
    text-align: center;
  }
}
