.FavButtons-text-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FavButtons-buttons-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FavButtons-buttons {
  margin-bottom: 15px;
  padding: 0px 5px;
}
