.RecipeListItem-title {
  font-weight: 700;
  font-size: 20px;
  padding-left: 25px;
}

.RecipeListItem-fav-button {
  color: #000;
  margin-top: 5px;
  justify-content: center;
  display: flex;
}

.RecipeListItem-full-link {
  font-weight: 300;
  font-size: 16px;
}

.RecipeListItem-ingredients-header {
  color: #000;
  font-weight: 700;
}

.RecipeListItem-img {
  width: 10%;
  height: 10%;
}
