.ErrorInfo-api-error {
  width: 400px;
  margin: 0 auto;
  color: #000;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 420px) {
  .ErrorInfo-api-error {
    width: 250px;
  }
}
