.SearchBar-page-numbers {
  padding: 10px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.SearchBar-fav-button {
  color: #000;
  margin-top: 25px;
  justify-content: center;
  display: flex;
}

.SearchBar-input-group {
  width: 400px;
  margin: 50px auto 25px auto;
  display: flex;
  justify-content: center;
}

.SearchBar-pagination-buttonsView {
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 420px) {
  .SearchBar-input-group {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .SearchBar-input-group {
    width: 250px;
  }
}
