.SearchBar-page-numbers {
  padding: 10px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.SearchBar-fav-button {
  color: #000;
  margin-top: 25px;
  justify-content: center;
  display: flex;
}

.SearchBar-input-group {
  width: 400px;
  margin: 50px auto 25px auto;
  display: flex;
  justify-content: center;
}

.SearchBar-pagination {
  margin: 25px;
  display: flex;
  justify-content: center;
}
